*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.hero{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
    border: 2px solid rgb(114, 114, 114);   
}
.display input{
    width: 360px;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
    text-align: right;  
}
input::placeholder{
   color: #fff;   
}
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: -5px -6px 15px #000;
    outline: 1px solid #31313131;
    outline-offset: 3px;
    cursor: pointer;
}
button:active{
    background-color: #000;
    transform: translate(2px, 2px);
}
.opr{
    color:#fbff00;
    background: #1e1919;
    font-weight: 700;
}
#eqlbtn{
    background-color: #c48004;
    font-weight: 900;
}