
*{
    padding: 0;
    margin: 0;
}
.hero_section{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prants{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 100%;
}